@charset "UTF-8";
/* Include the padding and border in an element's total width and height */
* {
    font-family: Microsoft JhengHei;
}
/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

    /* Style the list items */
    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Set all odd list items to a different color (zebra-stripes) */
        ul li:nth-child(odd) {
            background: #f9f9f9;
        }

        /* Darker background-color on hover */
        ul li:hover {
            background: #ddd;
        }

        ul li .todo-title {
            font-size: 20px;
            font-weight: bold;
        }

        ul li .todo-content {
        }

        /* When clicked on, add a background color and strike out text */
        ul li.checked {
            background: #888;
            color: #fff !important;
            text-decoration: line-through;
        }

            /* Add a "checked" mark when clicked on */
            ul li.checked::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 25px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 24px 30px 24px 30px;
    font-size: 20px;
}

    .close:hover {
        background-color: bisque;
        color: white;
    }

/* Style the header */
header {
    background-color: bisque;
    padding: 30px 40px;
}

    /* Clear floats after the header */
    header:after {
        content: "";
        display: table;
        clear: both;
    }

    header .left-div {
        float: left;
        width: 90%
    }

    header .right-div {
        width: 10%;
        float: left;
        text-align: center;
    }
/* Style the input */
input {
    margin: 0 0 3px 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
    height: 30px;
}

/* Style the "Add" button */

.add-btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    height: 63px;
    width: 63px;
    text-shadow: 0px 1px 0px #ffffff;
    line-height: 63px
}

    .add-btn:hover {
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        background-color: #f6f6f6;
    }

    .add-btn:active {
        position: relative;
        top: 1px;
    }
